h1 {
    font-style: italic;
    text-align: center;
    background-color: rgb(84, 236, 206);
    color:deeppink;
}

table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr *:nth-child(1){
    background: #0e45ea;
  }
  
  table tr *:nth-child(2){
    background: #33b6da;
  }
  
  
  table th,table td{
    color:white;
    border:solid 1px white;
    text-align: center;
    padding: 10px 0;
  }

body {
    background-image: url(Weather1.jpg);
}

div#picdisplay {
    display: flex;
    justify-content: center;
}


